{% extends 'post/base.html' %}

{% block content %}
    <h1 class="mt-4">Comments for "{{ post.title }}"</h1>
    {% if comments %}
        <div class="list-group">
            {% for comment in comments %}
                <div class="list-group-item">
                    <p class="mb-1">{{ comment.content }}</p>
                    <small>Autor: {{ comment.user.username }}</small>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>This post does not have comment.</p>
    {% endif %}
{% endblock %}