{% extends 'post/base.html' %}

{% block content %}
    <h1 class="mt-4">Post List</h1>
    <div class="list-group">
        {% for post in object_list %}
            <div class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post.title }}</h5>
                    <small>Posted by: {{ post.user.username }} on {{ post.created_at }}</small>
                </div>
                <p class="mb-1">{{ post.content }}</p>
                <div class="d-flex w-100 justify-content-between">
                    <a href="{% url 'post_detail' post.id %}" class="btn btn-primary btn-sm">Post Detail</a>
                    <a href="{% url 'view_comments' post.id %}" class="btn btn-secondary btn-sm">View {{ post.comment_set.count }} Comments</a>
                    <a href="{% url 'add_comment' post.id %}" class="btn btn-info btn-sm">Comment</a>
                    {% if request.user == post.user %}
                    <a href="{% url 'post_edit' post.id %}" class="btn btn-sm btn-primary">Edit</a>
                    <a href="{% url 'post_delete' post.id %}" class="btn btn-sm btn-danger">Delate</a>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div class="list-group-item">No posts available.</div>
        {% endfor %}
    </div>
{% endblock %}